
<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head'); %>
<body>
    <%- include('./partials/header') %>

<div class="flex  relative overflow-x-auto w-full h-full">
    <%- include('./partials/nav') %>
    <table class="w-[95%] text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Name
                </th>
                <th scope="col" class="px-6 py-3">
                  Role
                 </th>
                <th scope="col" class="px-6 py-3">
                    Image
                </th>
            
                <th scope="col" class="px-6 py-3">
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            <% staffs.forEach(staff => { %>
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                    <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        <%= staff.name %>
                    </td>
                    <td class="px-6 py-4">
                        <%= staff.role %>
                    </td>
                    <td class="px-6 py-4">
                        <img src="http://localhost:4000/uploads/<%= staff.image %>" alt="" class="w-20">
                    </td>
                    
                    <td class="px-6 py-4">
                        <form action="/staff/display-edit/<%= staff.id %>" class="inline" method="get">
                            <button type="submit">
                                <i class="fas fa-edit"></i>
                             </button>
                            </form>
                            <form action="/staff/delete-staff/<%= staff.id %>?_method=delete" class="inline" method="post">
                                <input type="hidden" name="_method" staff="delete">
                                <button type="submit">
                                    <i class="fas fa-trash m-3"></i>
                                 </button>
                            </form>                  
                          </td>
                   
                </tr>
            <% }); %>
        </tbody>
    </table>
</div>

<%- include('../partials/footer') %>
</body>
</html>
