<!DOCTYPE html>
<html>
  <%- include('../partials/head'); %>
  
  <body>
    <%- include('../partials/header'); %>
    <h4 style="font-family: Poppins, sans-serif; padding: 1rem 2rem; text-align: center;">Welcome to our staff members page</h4>
    <p style="font-family: Poppins, sans-serif; padding-left: 2rem; font-size: 1rem; text-align: center;">Here you can contact our staff members using their method of connection</p>
    <section class="staff">
         <% staffs.forEach(staff => { %>
            <section class="member">
                <img src="/images/photo_2024-01-10_09-41-41.jpg" alt="">
                <h4><%= staff.name %> </h4>
                <h5><%=staff.role  %> </h5>
            </section>
        <% }); %>

    </section>
    
    <%- include('../partials/footer'); %>
  </body>
</html>
